/*------------------------------------------------------------
icon
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-arrow {
    position: absolute;
    right: 0;
    top: 42%;
}
