/*------------------------------------------------------------
img
------------------------------------------------------------*/

/*
------------------------------------------------------------*/

.c-products {
    &__imgdailyonce {
        top: -53px;
        left: 2px;
        position: absolute;

        @include sp {
            top: -23px;
            width: 127px;
            left: 7.9%;

        }
    }

    &__imgdailytwo {
        top: -53px;
        left: -54px;
        position: absolute;

        @include sp {
            top: 3px;
            width: 128px;
            left: 51.8%;

        }

    }

    &__recommned {
        margin-top: 0;
        margin-bottom: -10px;

        @include sp {
            top: -23px;
            width: 104px;
            left: 42.7%;
            position: absolute;

        }
    }

    &__img {
        &once {
            position: absolute;
            left: 52px;

            @include sp {
                left: 23.2%;
                width: 30px;
                top: 2px;

            }
        }

        &two {
            position: absolute;
            top: 41px;
            left: 21px;

            @include sp {
                top: 3px;
                left: 81.2%;
                width: 35px;

            }
        }

        &three {
            position: absolute;
            top: 41px;
            left: -4px;

            @include sp {
                top: 8px;
                left: 7.3%;
                width: 48px;
            }
        }

        &four {
            position: absolute;
            top: 0;
            left: 0.8%;

            @include sp {
                @include sp {
                    width: 30px;
                    left: 66.6%;
                    top: 29px;
                }
            }
        }

        &five {
            position: absolute;
            top: 26px;
            left: 66px;

            @include sp {
                left: 7.7%;
                width: 38px;
                top: 2px;
            }
        }

        &six {
            position: absolute;
            top: 57px;
            left: 2px;

            @include sp {
                left: 52.5%;
                top: 28px;
                width: 110px;
            }
        }

        &seven {
            position: absolute;
            right: 0;

            @include sp {
                left: 9.7%;
                top: -8px;
                width: 64px;
            }
        }

        &eight {
            position: absolute;
            right: 0;

            @include sp {
                left: 66.8%;
                top: -39.3px;
                width: 80px;
            }
        }
    }

}

.c-pointleft {
    img {
        @include sp {
            width: 39px;
        }
    }
}

.c-mainvisual {
    .c-imgsp {
        @include sp {
            margin: 0 auto;
        }
    }
}

.c-bannerimg {
    position: relative;
}
