/*------------------------------------------------------------
img
------------------------------------------------------------*/

/*
------------------------------------------------------------*/

.c-products {
    &__imgdailyonce {
        top: -53px;
        left: 2px;
        position: absolute;

        @include sp {
            top: -31px;
            width: 139px;
            left: 9.9%;
        }
    }

    &__imgdailytwo {
        top: -53px;
        left: -54px;
        position: absolute;

        @include sp {
            top: -8px;
            width: 139px;
            left: 49.8%;

        }

    }

    &__recommned {
        margin-top: 0;
        margin-bottom: -10px;

        @include sp {
            top: -13px;
            width: 104px;
            left: 48.7%;
            position: absolute;

        }
    }

    &__img {
        &once {
            position: absolute;
            left: 52px;

            @include sp {
                left: 25.4%;
                width: 30px;
                top: 3px;
            }
        }

        &two {
            position: absolute;
            top: 41px;
            left: 21px;

            @include sp {
                top: 3px;
                left: 78.2%;
                width: 35px;

            }
        }

        &three {
            position: absolute;
            top: 41px;
            left: -4px;

            @include sp {
                top: 10px;
                left: 11.3%;
                width: 46px;
            }
        }

        &four {
            position: absolute;
            top: 0;
            left: 0.8%;

            @include sp {
                @include sp {
                    width: 30px;
                    left: 65.6%;
                    top: 29px;
                }
            }
        }

        &five {
            position: absolute;
            top: 26px;
            left: 66px;

            @include sp {
                left: 11.7%;
                width: 37px;
                top: 2px;
            }
        }

        &six {
            position: absolute;
            top: 57px;
            left: 2px;

            @include sp {
                left: 57.5%;
                top: 39px;
                width: 110px;
            }
        }

        &seven {
            position: absolute;
            right: 0;

            @include sp {
                left: 13.7%;
                top: 23px;
                width: 64px;
            }
        }

        &eight {
            position: absolute;
            right: 0;

            @include sp {

                left: 64.8%;
                top: -9.3px;
                width: 80px;

            }
        }
    }

}

.c-pointleft {
    img {
        @include sp {
            width: 39px;
        }
    }
}
