/*------------------------------------------------------------
other
------------------------------------------------------------*/


.js-iconarrow {
    transform: rotate(180deg);
}

/*
------------------------------------------------------------*/

.c-columnlist {
    .u-mg {
        margin-left: 12px;
    }

    .u-mgleft {
        margin-left: -6px;
    }

    .u-mgcolsix {
        margin-left: -16px;
    }
}

.c-deslink {
    .u-transpoint {
        transform: translateY(9px);
    }
   
}
