//============================================
// clearfix
//============================================
@mixin clear {
    *zoom: 1;

    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

//============================================
// breakpoint
//============================================

@mixin tb {
    @media screen and (min-width:1024px) and (max-width:1130px) {
        @content;
    }
}

@mixin sp {
    @media only screen and (max-width: 1023px) {
        @content;
    }
}

@mixin sp2 {
    @media only screen and (max-width: 376px) {
        @content;
    }
}





