///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/
//.u-anchor:before {
//	content:"";
//	margin-top: -100px;
//	padding-top: 100px;
//}

//------------------------------------------------------------
// margin
//------------------------------------------------------------

//------------------------------------------------------------
// color
//------------------------------------------------------------

// AMINATION DROP
@keyframes bubble {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 10px);
    }

    100% {
        transform: translate(0, 0);
    }
}
//------------------------------------------------------------
@keyframes bubble1 {
    0% {
        transform: translate(0, 10px);
    }

    50% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, 10px);
    }
}
