/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer {
    color: #fff;
    margin-top: 16px;
    padding-bottom: 59px;
    @include sp {
        margin-top: -34px;
        padding-bottom: 0;
    }

    &__infor {
        display: flex;
        justify-content: space-between;
        margin-top: 118px;
        @include sp {
            display: block;
            margin-top: 61px;
        }
    }

    &__left {
    }

    &__text {
        font-size: 1.4rem;
        line-height: 1.7;
        color: rgb(40, 40, 40);
        transform: translateY(-6px);
        letter-spacing: 1.5px;
        @include sp {
            letter-spacing: 0.1px;
            font-size: 1.3rem;
            transform: translate(0, -8px);
        }
    }

    &__right {
        @include sp {
            text-align: center;
            margin-top: 9px;
            padding: 10px;
            padding-bottom: 28px;
        }

        img {
            margin-left: 28px;
            margin-top: 1px;
            display: block;
            @include sp {
                margin: auto;
                width: 100px;
            }
        }
    }

    &__textlogo {
        font-size: 1.2rem;
        color: rgb(40, 40, 40);
        line-height: 2;
        letter-spacing: 1.4px;
        margin-top: 5px;
        @include sp {
            font-size: 1rem;
        
            transform: translate(-1px, 2px);
            letter-spacing: 1px;
        }
    }
}
