/* layout
------------------------------------------------------------*/
body {

    background-image: url("../..../../assets/img/bg-main.png");
    max-width: $base-width;
    min-width: 375px;
    position: relative;
    // overflow: hidden;

}

//-------------------------------------------------------
.l-container {
    max-width: 1120px;
    margin: 0 auto;
    position: relative;
    width: 96%;
    @include sp {
        padding: 15px;
        padding-bottom: 15px;
        width: 100%;
    }
}

.l-wrapper {
    margin: 0 auto;
    position: relative;
    max-width: 1030px;
    width: 96%;

    @include sp {
        max-width: 345px;
        padding: 15px;
        width: 100%;
    }

   

}

.c-pointfooter {
    margin: 0 auto;
    position: relative;
    max-width: 1130px;
    
    @include sp {
        max-width: 375px;
        padding-bottom: 54px;
        transform: translateY(4px);
        padding: 0 15px 62px;
    }

    .c-textsp {
        @include sp { 
            display: contents;
        }
    }
}

.l-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #1f4242;
    z-index: 1;
    display: none;
    animation: fadeIn linear 0.2s;
}

